@{
    ViewData["Title"] = "Home Page";
}
//This div displays login details
<div class="text-center">
    <h1 class="display-4">NIPT Management </h1>
    <p>Manage Student and Teachers Detail Easily</p>
    <img src="~/management.jpg" class="img" style="width:50%;height:400px;" asp-append-version="true" alt="Test">
</div>
